<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Control Panel</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const socket = io();

            document.getElementById("left").onclick = () => {
                socket.emit('move', { direction: 'left', power: 10 });
            };

            document.getElementById("right").onclick = () => {
                socket.emit('move', { direction: 'right', power: 10 });
            };

            document.getElementById("forward").onclick = () => {
                socket.emit('move', { direction: 'forward', power: 10 });
            };

            document.getElementById("stop").onclick = () => {
                socket.emit('move', { direction: 'stop' });
            };
            document.getElementById("backward").onclick = () => {
                socket.emit('move', { direction: 'backward' , power: 10});
            };
        });
    </script>
</head>
<body>
    <h1>Control Panel</h1>
    <button id="left">Left</button>
    <button id="right">Right</button>
    <button id="forward">Forward</button>
    <button id="stop">Stop</button>
    <button id="backward">backward</button>
</body>
</html>
